<%- include('../header') %>
    <div class="page-wrapper">

        <div class="container-fluid" style="margin-top: 20px; height: 550px;">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card shadow-lg rounded-3">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Edit Category Form</h4>
                            <form class="form-horizontal" method="post" action="/category/editcategory/<%= data.id %>"
                                enctype="multipart/form-data">
                                <!-- Category Title -->
                                <div class="form-group row mb-3">
                                    <label for="category_title"
                                        class="col-sm-3 text-end control-label col-form-label">Category
                                        Title</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="category_title"
                                            id="category_title" placeholder="Enter Category Title"
                                            value="<%= data.category_title %>" required />
                                    </div>
                                </div>

                                <!-- Category Image -->
                                <div class="form-group row mb-4">
                                    <label class="col-sm-3 text-end control-label col-form-label">Category
                                        Image</label>
                                    <div class="col-sm-9">
                                        <input type="file" class="form-control-file" id="image" name="category_image" />
                                        <img src="../../<%= data.category_image %>" height="70px" class="mt-2" />
                                    </div>
                                </div>

                                <!-- Submit Button -->
                                <div class="form-group row">
                                    <div class="col-sm-12 text-end">
                                        <button type="submit" class="btn btn-primary px-4">Edit
                                            Category</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../footer') %>