<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center">Welcome to the Home Page</h1>
        <div class="text-center">
            <a href="/formPage" class="btn btn-primary">Add Product</a>
        </div>

        <div>
            <h2 class="text-center">Product List</h2>
            <div class="row">
                <% records.map((data)=>{ %>
                    <div class="card mx-4" style="width: 18rem;">
                        <div>
                            <img src="<%= data.productImage %> " alt="img" width="100%">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">productName : <%= data.productName %>
                            </p>
                            <p class="card-text">productPrice : <%= data.productPrice %>
                            </p>
                            <p class="card-text">productColor : <%= data.productColor %>
                            </p>
                            <p class="card-text">productCategory : <%= data.productCategory %>
                            </p>
                            <p class="card-text">productDesc : <%= data.productDesc %>
                            </p>
                            <a href="/delete/<%= data.id %>">Delete</a>
                            <a href="/update/<%= data.id %>">Update</a>
                        </div>
                    </div>

                    <% }) %>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
            crossorigin="anonymous"></script>
</body>

</html>